/* F1 */


.np1{
    width: 50px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    padding: 5%;
    box-sizing: content-box;
}

.np2{
    width: 100px;
    height: 70px;
    border: 1px solid black;
    background-color: blueviolet;  
}

/* F2 */

/* F3 */

/* F4 */

/* F5 */

/* F6 */

/* F7 */

/* F8 */