*{
    box-sizing: border-box;
   margin: 0;
    padding: 0;
}
/*Placement du container au milieu de la page*/
body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    border: 5px solid black;
    padding: 0;
    margin-top: 60px;
    width: 75%;
    height: 90%;
}


/*Initialisation des blocs de couleurs*/
.bleu1 {
    grid-area: b1;
}
.bleu2 {
    grid-area: b2;
}
.bleu3 {
    grid-area: b3;
}
.bleu4 {
    grid-area: b4;
}

.jaune1 {
    grid-area: j1;
}
.jaune2 {
    grid-area: j2;
}
.jaune3 {
    grid-area: j3;
}
.jaune4 {
    grid-area: j4;
}
.jaune5 {
    grid-area: j5;
}

.rouge1 {
    grid-area: r1;
}
.rouge2 {
    grid-area: r2;
}
.rouge3 {
    grid-area: r3;
}
.rouge4 {
    grid-area: r4;
}
.rouge5 {
    grid-area: r5;
}

.blanc1 {
    grid-area: w1;
}
.blanc2 {
    grid-area: w2;
}
.blanc3 {
    grid-area: w3;
}
.blanc4 {
    grid-area: w4;
}
.blanc5 {
    grid-area: w5;
}
.blanc6 {
    grid-area: w6;
}
.blanc7 {
    grid-area: w7;
}
.blanc8 {
    grid-area: w8;
}
.blanc9 {
    grid-area: w9;
}
.blanc10 {
    grid-area: w10;
}
.blanc11 {
    grid-area: w11;
}
.blanc12 {
    grid-area: w12;
}
.blanc13 {
    grid-area: w13;
}
.blanc14 {
    grid-area: w14;
}
.blanc15 {
    grid-area: w15;
}
.blanc16 {
    grid-area: w16;
}

/*Initialisation des couleurs de chaque élément*/
.bleu1,  .bleu2,  .bleu3,  .bleu4 {
    background-color: blue;
}
.jaune1, .jaune2, .jaune3, .jaune4, .jaune5 {
    background-color: yellow;
}
.rouge1, .rouge2, .rouge3, .rouge4, .rouge5 {
    background-color: red;
}
.blanc1, .blanc2, .blanc3, .blanc4, .blanc5, .blanc6, .blanc7, .blanc8, .blanc9, .blanc10, .blanc11, .blanc12, .blanc13, .blanc14, .blanc15, .blanc16{
    background-color: white;
}

/*Création des lignes et des colonnes */
.grid-container{
    display: grid;
    gap: 5px;
    grid-template-areas: 'w1 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3 w3 w4 j1 '
                        'w1 b1 b1 b1 b1 b1 b1 w5 w5 b2 b2 b2 b2 w4 j1 '
                         'w1 b1 b1 b1 b1 b1 b1 w5 w5 b2 b2 b2 b2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . j3 r3 r3 b3  b3 w9  w9 w9 w10 . . '
                          '. w6 w6 . j3 r3 r3 b3  b3 w9  w9 w9 w10 . . '
                          ' w12 r4 r4 . j5 w13 w13 w13  w13 w14  w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 w13 w13 w13  w13 w14  w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 w13 w13 w13  w13 w14 w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 r5 r5 .  . . . w15 w15 w15 w15 '
                         ' w16 w16 w16 . j5 r5 r5 .  . . . w15 w15 w15 w15 ';
    width: 100%;
    height: 100%;   
    grid-template-rows:repeat( 14, auto);
    grid-template-columns: repeat( 15, 1fr) ;
    background-color: black;
    }  
    
    
