/*Placement des flèches pour changer de page*/
#cp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
body{
  display: flex;
  flex-direction: column;
}
a{
    text-decoration: none;
}

.ckaré {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: red;
    animation-name: karé;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes karé {
    
    0% {
        background-color: red;
        rotate: 360deg;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}

/*Finalisation du carré*/

.container1{
    box-sizing: border-box;
    border: solid blue;
    width: 35px;
    height: 300px;
    margin: 100px auto;
}


.balle{
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation-name: boule;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*Chaque pourcentage correspond à une phase de l'animation, plus les pourcentages sont rapprochés plus la phase de l'animation est rapide*/
@keyframes boule{
    0% {bottom: 500px;}
    15% {bottom: 235px;}
    30% {bottom: 400px;}
    45% {bottom: 235px;}
    65% {bottom: 350px;}
    80% {bottom: 235px;}
    90%{bottom: 250px;}
    100%{bottom: 235px;}
}
/*Finalisation de la balle*/

.l{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

/*delay pour les faire clignoter chacun leur tour*/
.load{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius:50%;
    animation-name: loader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}

.load:nth-child(1) {
    animation-delay: 1s;
}

.load:nth-child(2) {
    animation-delay: 2s;
}

@keyframes loader {
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: rgb(243, 247, 0);
    }
}
/*Finalisation du chargement*/
 
/*Overflow hidden pour pas que l'image dépasse le container*/
  .container2{
    margin: 20px auto;
    height: 400px;
    width: 600px;
    border: solid black 5px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
  }
  .kare{    
    width: 30px;
    height: 30px;
    border-radius: 30%;
    transform: rotate(90deg);
    text-align: center;
      font-size: 25px;
      line-height: 30px;
    position: absolute;
    background-color: blueviolet;
    animation-name: race;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .kare:nth-child(1){
    animation-delay: 800ms;
  }
  .kare:nth-child(2){
    animation-delay: 1600ms;
  }
  .kare:nth-child(3){
    animation-delay: 2400ms;
  }
  
  
  .kare:nth-child(4){
    animation-delay: 3200ms;
    font-size: initial;
    line-height: normal;
    font-size: 10px;
    line-height: 10px;
  }
  
  @keyframes race {
      0%   {background-color: blueviolet; left: 460px; top: 105px; rotate: 1000deg;}
  
      25%   {background-color:yellow; left:1028px; top: 105px;}
  
      70%  {background-color:blue; left: 1028px; top: 465px;}
  
      80%  {background-color:green; left: 470px; top: 465px;}
  
      100% {background-color:black; left: 470px; top: 105px;}
    }
    
    img{
      width: 900px;
      height: 500px;
    transform: rotate(270deg);
      z-index: -1;
    }
/*Finalisation de la queue*/

/*Elargir la barre vers le bas de 300px lorsque le curseur est sur le menu*/
#m:hover{
    height: 300px;
}
/*Définition d'un petit rectangle englobant menu, border-radius pour rendre les bord légèrement arrondis
et transition pour élargir  la barre pendant 2 secondes*/
#m{
    color: blanchedalmond;
    width: 60px;
    height: 40px;
    left: 5px;
    background-color: black;
    border-radius: 5px;
    transition: height 2s;
    position: absolute;
    
}
.carreP{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.car{
  display: flex;
  justify-content: space-around;
  position: relative;
}
#Mn{
  width: 5%;
}