body{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
}
.container{
    box-sizing: border-box;
    border: solid blue;
    margin-left: 150px;
    width: 35px;
    height: 300px;
}

.balle{
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation-name: boule;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes boule{
    0% {top: 100px; bottom: 0px;}
    25% {}
}