.container{
    box-sizing: border-box;
    border: solid blue;
    width: 35px;
    height: 300px;
    margin: 0px auto;
}
#cp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
a{
    text-decoration: none;
}
.balle{
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation-name: boule;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*Changer le pourcentage, + rapproché = plus rapide*/
@keyframes boule{
    0% {bottom: 600px;}
    15% {bottom: 335px;}
    30% {bottom: 500px;}
    45% {bottom: 335px;}
    65% {bottom: 450px;}
    80% {bottom: 335px;}
    90%{bottom: 350px;}
    100%{bottom: 335px;}
}