
h2{
    text-align: center;
}


.ckaré {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    background-color: red;
    animation-name: karé;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes karé{
    
    0% {
        background-color: red;
        rotate: 360deg;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}