#cp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
a{
    text-decoration: none;
}

.l{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.load{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius:50%;
    animation-name: loader;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}

.load:nth-child(1) {
    animation-delay: 1s;
    margin-bottom: 3px;
}

.load:nth-child(2) {
    animation-delay: 2s;
}

@keyframes loader {
    from {
        background-color: red;
    }
    to {
        background-color: rgb(0, 255, 0);
    }
}